{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/paradise_temp.css') }}">
{% endblock head %}
{% block content %}

  <div class="stats-container mt-4">
    <form method="post" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{% if edit %}<b>Edit</b>{% else %}New{% endif %} Multi-Item Product</legend>
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Product Name") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control", placeholder="Product Name") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.image.label(class="form-control-label") }}
          {% if form.image.errors %}
            {{ form.image(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.image.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.image(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group mt-3">
          <label class="form-control-label">Items Included</label>
          {% for item in form.items %}
            {{ item.hidden_tag() }}
            <div class="ml-3 d-flex justify-content-start mb-1">
              <img height="50" style="border-radius: 15px;" alt="{{ item.item_name.data }}" src="{{ url_for("get_paradise_image", image_id=item.item_image_id.data) }}">
              {{ item.item_amount.label(class="form-control-label ms-2 me-2 flex-grow-1") }}
              {% if item.item_amount.errors %}
                {{ item.item_amount(class="form-control form-control-sm is-invalid", placeholder="0") }}
              {% else %}
                {{ item.item_amount(class="form-control form-control-sm", placeholder="0") }}
              {% endif %}
            </div>
            {% if item.item_amount.errors %}
              <div class="invalid-feedback">
                {% for error in item.item_amount.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-group mt-3">
          {{ form.submit(class="btn btn-secondary") }}
        </div>
      </fieldset>
    </form>
  </div>

{% endblock content %}
