<div class="d-flex justify-content-center">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 60rem">
    <div class="carousel-indicators">
      {% for img in images %}
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for img in images %}
        <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
          <img src="{{ img["src"] }}" class="d-block w-100 carousel-img" alt="{{ img["alt"] }}">
          {% if img["caption"] %}
            <div class="carousel-caption d-none d-md-block">
              <p>{{ img["caption"] }}</p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>