{% extends "layout.html" %}

{% block head %}
    <!-- Codemirror and internal CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dynamicode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/dynamicode/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/dynamicode/codemirror/theme/darcula.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/dynamicode/codemirror/theme/base16-dark.css') }}">
{% endblock head %}

{% block content %}

  <div class="m-4">
    <a href="{{ url_for("portfolio") }}" class="text-decoration-none"><span class="fas fa-arrow-left"></span> Back</a>
  </div>

  <div class="mt-3">
    <div>
      <h1 class="text-center gradient-text">DynamiCode</h1>
      <div class="mt-4">
        <p>
          Collaborated with peers to create a web app that centers around dynamic social media posts. Users
          can create posts that contain snippets of Python code. Other users can then run the code in a browser and see how
          the code changes the post. Posts can include interactive elements like sliders and dropdowns. The Python snippets are
          run in a sandboxed environment using <a href="https://skulpt.org/">Skulpt</a>, blocking access to the
          server or sensitive user information on the browser.
        </p>
      </div>
      <div class="row mt-4">
        <div class="col-sm-6 ps-2 pe-2">
          <h5 class="text-center">Features</h5>
          <ul>
            <li>User authentication using up-to-date security practices, such as salt+hash passwords.</li>
            <li>Users can create posts with Python code snippets run in browsers.</li>
            <li>Learning modules: Educational pages teaching the basics of Python utilizing in-browser Python snippets.</li>
          </ul>
        </div>
        <div class="col-sm-6 ps-2 pe-2">
          <h5 class="text-center">Technologies</h5>
          <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
            <div class="tech-div">
              <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
              <span>Heroku</span>
            </div>
            <div class="tech-div">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
              <span>Python + Flask</span>
            </div>
            <div class="tech-div">
              <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
              <span>Bootstrap</span>
            </div>
            <div class="tech-div">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/postgresql.png") }}">
              <span>PostgreSQL</span>
            </div>
            <div class="tech-div">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/skulpt.png") }}">
              <span>Skulpt</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div>
        <label for="demoSource" class="h5"><b>Demo Source Code</b></label>
        <div>The web app itself has a visual editor for creating posts, but for the sake of demonstration,
          the "source code" for the demo is shown below. It's in a JSON format and can be modified freely.</div>
      </div>
      <div class="mt-3">
        <textarea id="demoSource" class="form-control text-mono" rows="5">{{ demo|safe }}</textarea>
      </div>
      <div class="justify-content-end">
        <button onclick="load_demo()" class="mt-2 btn btn-gradient text-white text-end">Load Demo</button>
      </div>
    </div>

    <div id="codepage" class="col-lg overflow-scroll mt-5"></div>
  </div>

{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>

    <!-- Code Editor -->
    <script src="{{ url_for('static', filename='js/dynamicode/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamicode/codemirror/mode/python/python.js') }}"></script>

    <!-- Skulpt Base Library -->
    <script src="{{ url_for('static', filename='js/dynamicode/skulpt/skulpt.es5.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/dynamicode/skulpt/skulpt-stdlib.js') }}" type="text/javascript"></script>

    <!-- Page Javascript -->
{#    <script type="text/javascript" src="/static/js/codepage_scripts/skulpt_loader.js"></script>#}
{#    <script type="text/javascript" src="/static/js/codepage_scripts/style_rules.js"></script>#}
{#    <script type="text/javascript" src="/static/js/codepage_scripts/editable.js"></script>#}
{#    <script type="text/javascript" src="/static/js/codepage_scripts/codepage_loader.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamicode/codepage_scripts/skulpt_loader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamicode/codepage_scripts/style_rules.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamicode/codepage_scripts/editable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamicode/codepage_scripts/codepage_loader.js') }}"></script>


    <script>
        const EDIT_URL = ''
        function load_demo() {
            let demo = document.getElementById('demoSource').value
            $("#codepage").empty()
            load_codepage("codepage", JSON.parse(demo), false)
        }
    </script>

{% endblock scripts %}
