{% extends "layout.html" %}

{% block content %}

  <div class="m-4">
    <a href="{{ url_for("portfolio") }}" class="text-decoration-none"><span class="fas fa-arrow-left"></span> Back</a>
  </div>

  <div class="mt-3">
    <div>
      <h1 class="text-center gradient-text">Paradise In a Box</h1>
      <div class="mt-4">
        {% include "project_pages/carousel.html" %}
      </div>
      <div class="mt-4">
        <p>
          This site was created for a small business based in Hawaii. They specialize in selling gift boxes containing
          authentic Hawaiian snacks. The client, whose shop is on Etsy, wanted a simple site
          that would allow them to showcase their products. They wanted a dedicated site for their brand to show to
          customers instead of just linking to their Etsy shop.
        </p>
      </div>
      <div class="row mt-4">
        <div class="col-sm-6 ps-2 pe-2">
          <h5 class="text-center">Features</h5>
          <ul>
            <li>CSS rendered using SCSS based on the Bootstrap framework.</li>
          </ul>
        </div>
        <div class="col-sm-6 ps-2 pe-2">
          <h5 class="text-center">Technologies</h5>
          <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
            <div class="tech-div">
              <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
              <span>Heroku</span>
            </div>
            <div class="tech-div">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
              <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
              <span>Python + Flask</span>
            </div>
            <div class="tech-div">
              <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
              <span>Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
