<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content outer-modal-content">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Contact Me</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <span class="fas fa-envelope me-2"></span>
            <a href="mailto:empathy.castro@colorado.edu">empathy.castro@colorado.edu</a>
          </div>
          <div>
            <span class="fa-brands fa-linkedin me-2"></span>
            <a href="https://www.linkedin.com/in/empathy-castro-chilton-77a7bb245/">LinkedIn Profile</a>
          </div>
          <div>
            <span class="fas fa-location-dot me-2"></span>
            <span>Boulder, CO</span>
          </div>
        </div>
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-gradient" data-bs-dismiss="modal">Close</button>#}
{#        </div>#}
      </div>
    </div>
  </div>
</div>