{% extends "layout.html" %}

{% block content %}
  {% include "splash.html" %}
  <div class="mt-4 container">
    <h1 class="text-center gradient-text">Personal Statement</h1>
    <p class="mt-3 fade-in-section">
      “Empathy...” Mrs. Lazar said five years ago, “... has the most integrity of anyone I know.” That’s what I
      overheard my English teacher say. Was she basing that on my commitment to fair test taking, my defense of
      bullied peers, or on my willful rejection of senioritis? I don’t know. What I do know is that I want to
      continue to live up to that reputation and to my name. I am committed to honesty and understanding in
      both my work life and my home life.
    </p>
    <p class="fade-in-section">
      The line between those two worlds gets blurry sometimes because I live for software design. I have thrived at
      CUChange, rising to the rank of lead developer. I was honored that Sandia Labs took me on at 16 – the youngest
      intern in the department – to work with the DevOps team for the next two years. Pioneering programming at the New Mexico
      State robotics tournament was thrilling as well. But I am similarly proud that my brother consults me on
      database matters, that my mom’s art benefits from my app, and that my grandmother depends on me for her non-profit’s website.
    </p>
    <p class="fade-in-section">
      I code for fun too, inventing remote Pictionary for the pandemic, organizing records for my academic fraternity,
      and creating several fun web apps for my friends that are still in use today.
    </p>
    <p class="fade-in-section">
      As graduation draws near, I scan the horizon for full-time work. I am confident in my skills, abilities, and
      demeanor. Hey, if I can get a federal clearance in New Mexico, diagram a sentence in Spain, and navigate a
      pandemic, work/study job, transition, and college degree with a 4.0 grade point average in Colorado, I can do anything.
    </p>
    <p class="fade-in-section">
      Perhaps grit, drive, ability, understanding, and Empathy is just what your company is looking for. If so, I am eager and ready.
    </p>
  </div>
{% endblock %}