{% extends "layout.html" %}

{% block content %}
  {% include "splash_mini.html" %}
  <div class="mt-5 container">

    <div class="mt-2">

      <div class="pe-4 d-flex flex-column">

        <div class="ms-3 mb-5 block-left fade-in-section row d-flex justify-content-start flex-row-reverse">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="Phi Sigma Pi" src="{{ url_for("static", filename="img/projects/paradise_shopify/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Paradise in a Box: Storefront</h4>
            <div>
              Paradise in a Box, my longest-running client, is a novelty gift box company based in Hawaii. Designed with
              a modern refreshing style, this Shopify website brings in customers left and right. The site uses various
              Shopify apps and custom code, enhancing functionality and creating a unique brand.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="shopify" src="{{ url_for("static", filename="img/tech_icons/shopify.png") }}">
                <span>Shopify</span>
              </div>
              <div class="tech-div">
                <img alt="css" src="{{ url_for("static", filename="img/tech_icons/css.png") }}">
                <span>CSS</span>
              </div>
              <div class="tech-div">
                <img alt="html" src="{{ url_for("static", filename="img/tech_icons/html.png") }}">
                <span>HTML</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://yourparadisebox.com/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="paradise_shopify") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mb-5 block-right fade-in-section row d-flex justify-content-start">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="Phi Sigma Pi" src="{{ url_for("static", filename="img/projects/paradise_custom/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Paradise in a Box: Custom Orders</h4>
            <div>
              A completely custom-made website for my longest-running client, Paradise in a Box. The website, utilizing
              a whole set of technologies, allows users to create and customize their own products. Individual customers
              can pay for their custom products and have them shipped, using the Stripe API. Large customers can place
              bulk orders, which are processed differently.
            </div>
            <div>
              In addition to this forward-facing site, a large internal site was developed for Paradise in a Box.
              Capable of tracking inventory, orders, payroll, and more, this site is a perfect custom solution to this
              company's needs.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="digital ocean" src="{{ url_for("static", filename="img/tech_icons/digitalocean.png") }}">
                <span>Digital Ocean</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="mongodb" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
              <div class="tech-div">
                <img alt="gmail" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
              <div class="tech-div">
                <img alt="jquery" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">
                <span>jQuery</span>
              </div>
              <div class="tech-div">
                <img alt="stripe" src="{{ url_for("static", filename="img/tech_icons/stripe.png") }}">
                <span>Stripe API</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://custom.yourparadisebox.com/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="paradise_custom") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mb-5 block-left fade-in-section row d-flex justify-content-start flex-row-reverse">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="Libros or Kids" src="{{ url_for("static", filename="img/projects/libros_for_kids/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Libros for Kids</h4>
            <div>
              Designed a unique and playful site for Libros for Kids, a non-profit organization based in New Mexico.
              The site is custom-tailored to the organization's needs and has proven to have brought additional grants.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Squarespace</span>
              </div>
              <div class="tech-div">
                <img alt="css" src="{{ url_for("static", filename="img/tech_icons/css.png") }}">
                <span>CSS</span>
              </div>
              <div class="tech-div">
                <img alt="html" src="{{ url_for("static", filename="img/tech_icons/html.png") }}">
                <span>HTML</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://www.librosforkids.org/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="libros_for_kids") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mb-5 block-right fade-in-section row d-flex justify-content-start">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="Phi Sigma Pi" src="{{ url_for("static", filename="img/projects/psp_attendance/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Phi Sigma Pi: Attendance Management</h4>
            <div>
              Elected Chapter Secretary of Phi Sigma Pi. Initiated the overhaul of the attendance tracking process,
              transforming it from a cumbersome Google Forms and Sheets system to an efficient and user-friendly web
              app. The app enables members to submit attendance for meetings and events and monitor progress toward
              attendance requirements. Fraternity officers can view and manage individual and comprehensive records.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="python" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="mongodb" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
              <div class="tech-div">
                <img alt="gmail" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
              <div class="tech-div">
                <img alt="jquery" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">
                <span>jQuery</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="psp_attendance") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-4 mb-5 block-left fade-in-section row d-flex justify-content-start flex-row-reverse">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Site Management" src="{{ url_for("static", filename="img/projects/site_management/img1.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Project Site Management Utility</h4>
            <div>
              Created a web app for my Computer Science Capstone project as part of a team of six. The app enables
              users to create and manage project sites, which are used to track zones, materials, personnel, etc. within
              a construction project.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="digitalocean" src="{{ url_for("static", filename="img/tech_icons/react.png") }}">
                <span>React</span>
              </div>
              <div class="tech-div">
                <img alt="python" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/lambda.png") }}">
                <span>Python + AWS Lambda</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="AWS DynamoDB" src="{{ url_for("static", filename="img/tech_icons/dynamodb.png") }}">
                <span>AWS DynamoDB</span>
              </div>
              <div class="tech-div">
                <img alt="AWS API Gateway" src="{{ url_for("static", filename="img/tech_icons/api_gateway.png") }}">
                <span>AWS API Gateway</span>
              </div>
              <div class="tech-div">
                <img alt="Leaflet" src="{{ url_for("static", filename="img/tech_icons/leaflet.png") }}">
                <span>Leaflet</span>
              </div>
              <div class="tech-div">
                <img alt="Axios" src="{{ url_for("static", filename="img/tech_icons/axios.png") }}">
                <span>Axios</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="site_management") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-4 mb-5 block-right fade-in-section row d-flex justify-content-start">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/get_indigenous/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>Get Indigenous</h4>
            <div>
              Created an e-commerce site for a client to launch Native American products. The site features product
              pages, a shopping cart, and a checkout page. The client can access restricted admin pages
              to view and manage orders.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="digitalocean" src="{{ url_for("static", filename="img/tech_icons/digitalocean.png") }}">
                <span>DigitalOcean</span>
              </div>
              <div class="tech-div">
                <img alt="python" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="postgresql" src="{{ url_for("static", filename="img/tech_icons/postgresql.png") }}">
                <span>PostgreSQL</span>
              </div>
              <div class="tech-div">
                <img alt="paypal" src="{{ url_for("static", filename="img/tech_icons/paypal.png") }}">
                <span>PayPal API</span>
              </div>
              <div class="tech-div">
                <img alt="gmail" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
              <div class="tech-div">
                <img alt="jquery" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">
                <span>jQuery</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://getindigenous.com/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="get_indigenous") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-4 mb-5 block-left fade-in-section row d-flex justify-content-start flex-row-reverse">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="CVE Live Dashboard" src="{{ url_for("static", filename="img/projects/cve_dashboard/thumbnail.jpeg") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>CVE Live Dashboard</h4>
            <div>
              Created a web application as part of a class project to display live data from the National Vulnerability
              Database. The application features a dashboard with a map and charts to display the data. The data is
              updated every 24 hours. Users may subscribe to receive email notifications when new vulnerabilities are
              added to the database.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="digitalocean" src="{{ url_for("static", filename="img/tech_icons/react.png") }}">
                <span>React</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
              <div class="tech-div">
                <img alt="opencve api" src="{{ url_for("static", filename="img/tech_icons/opencve.png") }}">
                <span>OpenCVE API</span>
              </div>
              <div class="tech-div">
                <img alt="axios" src="{{ url_for("static", filename="img/tech_icons/axios.png") }}">
                <span>Axios</span>
              </div>
              <div class="tech-div">
                <img alt="gmail" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="cve_dashboard") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-right fade-in-section row d-flex justify-content-start">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="DynamiCode" src="{{ url_for("static", filename="img/projects/dynamicode/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>DynamiCode</h4>
            <div>
              Collaborated with peers to create a web app that centers around dynamic social media posts. Users
              can create posts that contain snippets of Python code. Other users can then run the code in a browser and see how
              the code changes the post. Posts can include interactive elements like sliders and dropdowns. The Python snippets are
              run in a sandboxed environment using <a href="https://skulpt.org/">Skulpt</a>, blocking access to the
              server or sensitive user information on the browser.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="python" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="postgresql" src="{{ url_for("static", filename="img/tech_icons/postgresql.png") }}">
                <span>PostgreSQL</span>
              </div>
              <div class="tech-div">
                <img alt="skulpt" src="{{ url_for("static", filename="img/tech_icons/skulpt.png") }}">
                <span>Skulpt</span>
              </div>
              <div class="tech-div">
                <img alt="jquery" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">
                <span>jQuery</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="dynamicode") }}">More About This + Demo</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-left fade-in-section row d-flex justify-content-start flex-row-reverse">
          <div class="col-sm-6 d-flex flex-column justify-content-start">
            <img alt="CUChange" src="{{ url_for("static", filename="img/projects/ideal_etl/thumbnail.png") }}">
          </div>
          <div class="text-start col-sm-6 mt-3">
            <h4>CUChange: Ideal ETL</h4>
            <div>
              Developed multiple web apps for CUChange, a medical research center affiliated with the University. This
              was the biggest and most complex. The team had inherited a legacy Extract, Transform, Load (ETL) system
              that was complex and difficult to maintain. This project created a user-friendly ETL system, using a
              universal process to extract data from any study, transform it into a standard format, and load it
              into the laboratory's database.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="python" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="mongodb" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
              <div class="tech-div">
                <img alt="jquery" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">
                <span>jQuery</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="ideal_etl") }}">More About This</a>
            </div>
          </div>
        </div>

{#        <div class="ms-3 mt-5 mb-5 block-right fade-in-section row d-flex justify-content-start">#}
{#          <div class="col-sm-6 d-flex flex-column justify-content-start">#}
{#            <img alt="Paradise In a Box" src="{{ url_for("static", filename="img/projects/paradise_box/thumbnail.png") }}">#}
{#          </div>#}
{#          <div class="text-start col-sm-6 mt-3">#}
{#            <h4>Paradise In a Box</h4>#}
{#            <div>#}
{#              Created a website for a small business based in Hawaii. Paradise in a Box specializes in#}
{#              gift boxes containing authentic snacks and decorative items. The client requested a simple, compelling#}
{#              site to showcase products and lead potential customers to their Etsy shop. This is a dedicated,#}
{#              placeholder site to build brand recognition and allow for future expansion to include product,#}
{#              about us, contact us, and shopping cart pages.#}
{#            </div>#}
{#            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">#}
{#              <div class="tech-div">#}
{#                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">#}
{#                <span>Heroku</span>#}
{#              </div>#}
{#              <div class="tech-div">#}
{#                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">#}
{#                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">#}
{#                <span>Python + Flask</span>#}
{#              </div>#}
{#              <div class="tech-div">#}
{#                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">#}
{#                <span>Bootstrap</span>#}
{#              </div>#}
{#              <div class="tech-div">#}
{#                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/jquery.png") }}">#}
{#                <span>jQuery</span>#}
{#              </div>#}
{#            </div>#}
{#            <div>#}
{#              <a class="me-2 mt-3 btn btn-info" href="https://www.yourparadisebox.com/" target="_blank">View Site</a>#}
{#              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="paradise_box") }}">More About This</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

      </div>

    </div>
  </div>
{% endblock %}