{% extends "layout.html" %}

{% block content %}
  {% include "splash.html" %}
  <div class="mt-5 container">
    <h1 class="mt-5 text-center text-muted gradient-text">
      Portfolio
    </h1>

    <div class="mt-4">

      <div class="pe-4 d-flex flex-column">

        <div class="ms-3 mt-4 mb-5 block-left fade-in-section row">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/get_indigenous/thumbnail.png") }}">
          </div>
          <div class="text-end col-sm-6 mt-3">
            <h4>Get Indigenous</h4>
            <div>
              This e-commerce site was created for a client who wanted to sell Native American products. This site features a shopping cart, product pages,
              and a checkout page. Additionally, the site has restricted-access admin pages for the client to view and manage orders.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="digitalocean" src="{{ url_for("static", filename="img/tech_icons/digitalocean.png") }}">
                <span>DigitalOcean</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/postgresql.png") }}">
                <span>PostgreSQL</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/paypal.png") }}">
                <span>PayPal API</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://getindigenous.com/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="get_indigenous") }}">More About This</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-right fade-in-section row">
          <div class="text-start col-sm-6 mt-3">
            <h4>Phi Sigma Pi: Attendance Management</h4>
            <div>
              When I was elected the Chapter Secretary of Phi Sigma Pi, I took it upon myself to overhaul our attendance tracking process.
              Previously, we had been using a Google Forms and Sheets system, which took a fair amount of work to maintain and mistakes
              were easy to make. I created a web app that allowed members to submit attendance for meetings and events, and the officers
              to view and manage the fraternity's attendance records. The app allows officers to view attendance records for individual
              members, as well as for the entire fraternity. Additionally, members are able to see their progress towards the fraternity's
              attendance requirements.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/gmail.png") }}">
                <span>Gmail API</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="psp_attendance") }}">More About This</a>
            </div>
          </div>
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/psp_attendance/thumbnail.png") }}">
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-left fade-in-section row">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/dynamicode/thumbnail.png") }}">
          </div>
          <div class="text-end col-sm-6 mt-3">
            <h4>DynamiCode</h4>
            <div>
              This experimental web app was created around the idea of dynamic social media posts. The idea is that users can create posts
              that contain Python code snippets. Users that view the post can then run the code snippets in their browser see how the code
              changes the post. Posts could also include interactive elements like sliders and dropdowns. The snippets are run in a sandboxed
              environment using <a href="https://skulpt.org/">Skulpt</a>, so the code can't access the server or sensitive information on the browser.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/postgresql.png") }}">
                <span>PostgreSQL</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/skulpt.png") }}">
                <span>Skulpt</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="dynamicode") }}">More About This + Demo</a>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-right fade-in-section row">
          <div class="text-start col-sm-6 mt-3">
            <h4>CUChange: Ideal ETL</h4>
            <div>
              While I helped develop many web apps for CUChange, this one was the biggest and most complex. The team had inherited
              a legacy Extract, Transform, Load (ETL) system that was difficult to maintain due to its complexity. The goal of this project
              was to create a new ETL system that used a universal process to extract data from any study, transform it into a common format,
              and load it into the laboratory's database.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/mongodb.png") }}">
                <span>MongoDB</span>
              </div>
            </div>
            <div>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="ideal_etl") }}">More About This</a>
            </div>
          </div>
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/ideal_etl/thumbnail.png") }}">
          </div>
        </div>

        <div class="ms-3 mt-5 mb-5 block-left fade-in-section row">
          <div class="col-sm-6 d-flex flex-column justify-content-center">
            <img alt="Get Indigenous" src="{{ url_for("static", filename="img/projects/paradise_box/thumbnail.png") }}">
          </div>
          <div class="text-end col-sm-6 mt-3">
            <h4>Paradise In a Box</h4>
            <div>
              This site was created for a small business based in Hawaii. They specialize in selling gift boxes containing
              authentic Hawaiian snacks. The client, whose shop is on Etsy, wanted a simple site
              that would allow them to showcase their products. They wanted a dedicated site for their brand to show to
              customers instead of just linking to their Etsy shop.
            </div>
            <div class="mt-2 mb-3 d-flex flex-wrap justify-content-center">
              <div class="tech-div">
                <img alt="heroku" src="{{ url_for("static", filename="img/tech_icons/heroku.png") }}">
                <span>Heroku</span>
              </div>
              <div class="tech-div">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/python.png") }}">
                <img alt="flask" src="{{ url_for("static", filename="img/tech_icons/flask.png") }}">
                <span>Python + Flask</span>
              </div>
              <div class="tech-div">
                <img alt="bootstrap" src="{{ url_for("static", filename="img/tech_icons/bootstrap.png") }}">
                <span>Bootstrap</span>
              </div>
            </div>
            <div>
              <a class="me-2 mt-3 btn btn-info" href="https://www.yourparadisebox.com/" target="_blank">View Site</a>
              <a class="btn mt-3 btn-gradient" href="{{ url_for("projects", project="paradise_box") }}">More About This</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}